# Streamlit & UI
streamlit>=1.38.0

# Core Libraries
pandas>=2.0.0
matplotlib>=3.7.0

# Authentication & Security
bcrypt>=4.0.1

# PDF & File Export
fpdf2>=2.7.0

# Faker data for sample generation
Faker>=19.0.0

# Date / Time utils
python-dateutil>=2.8.2
